<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>We Declared Independence,<br />
        and so can you</h1>
        <p>A guide to setting your journal free</p>
      </header>
      <p>If you're frustrated with giving free labour to large corporations, seeing your library spend millions buying back the results of your work while the public is locked out, or if you want to put research back in the hands of academics, join us in a project to change the status quo in research for the better. We declared independence, and found strong support from the academic community. With the advice in this guide, so can you.</p>
      <ul class="actions">
        <li><a href="{{ 'letter-from-an-editor' | absolute_url }}" class="button special big">Start the Journey</a></li>
        <li><a href="{{ 'take-action' | absolute_url }}" class="button small">But... I'm not an editor!</a></li> <!-- TODO: have better copy for this -->
      </ul>
    </div>
    <span class="image object">
      <a href="{{ 'letter-from-an-editor' | absolute_url }}">
        <!-- todo shrink this image to decrease load size -->
        <img src="assets/images/HughThomas.JPG" alt="" />
      </a>
    </span>
  </section>
