<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>We Declared Independence,<br />
        and so can you</h1>
        <p>A guide to setting your journal free</p>
      </header>
      <p>With subscription prices continuing to rise and library budgets strained to the point of unsustainability, many scholars are taking a hard look at what they can personally do to make research more widely available, more quickly, and more equitably. One manifestation of scholars’ move towards openness is the resignation of editors and editorial boards from high-priced commercial journals to start open access alternatives. Researchers, who contribute their expertise and their prestige to articles that they write, edit and produce, are increasingly making this move as a way to take back control and ownership of their outputs for the academy.</p>
      <ul class="actions">
        <li><a href="{{ 'letter-from-an-editor' | absolute_url }}" class="button special big">Start the Journey</a></li>
        <li><a href="{{ '#' | absolute_url }}" class="button small">But... I'm not an editor!</a></li>
      </ul>
    </div>
    <span class="image object">
      <a href="{{ 'letter-from-an-editor' | absolute_url }}">
        <img src="assets/images/HughThomas.JPG" alt="" />
      </a>
    </span>
  </section>
