<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>We Declared Independence,<br />
        and so can you</h1>
        <p>A guide to setting your journal free</p>
      </header>
      <p>With subscription prices continuing to rise and library budgets strained to the point of unsustainability, many scholars are taking a hard look at what they can personally do to make research more widely available, more quickly, and more equitably. One manifestation of scholars’ move towards openness is the resignation of editors and editorial boards from high-priced commercial journals to start open access alternatives. Researchers, who contribute their expertise and their prestige to articles that they write, edit and produce, are increasingly making this move as a way to take back control and ownership of their outputs for the academy.</p>
      <p>- Dr Person, Editor at Journal</p>
      <ul class="actions">
        <li><a href="{{ 'why-open-access-and-why-now' | absolute_url }}" class="button big">Start the Journey</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/independant_academic.png" alt="" />
    </span>
  </section>
