<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <a href="{{ '/' | absolute_url }}"><h2>Menu</h2></a>
          </header>
          <ul>
            <li><a href="{{ 'letter-from-an-editor' | absolute_url }}">Join me in Declaring Independence</a></li>
            <li><a href="{{ 'why-open-access-and-why-now' | absolute_url }}">Why open access, and why now?</a></li>
            <li> <!-- I'm for the submenu -->
            <span class="opener">Determining if your journal is a good fit for open access</span>
              <ul>
                <li><a href="{{ 'is-your-journal-right-for-open-access#intro' | absolute_url }}">Intro</a></li>
                <li><a href="{{ 'is-your-journal-right-for-open-access#society-owns-and-third-party-publishes' | absolute_url }}">If a Society or Nonprofit Owns the Journal but Collaborates with a Third Party to Publish...</a></li>
                <li><a href="{{ 'is-your-journal-right-for-open-access#publisher-owns' | absolute_url }}">If the Journal is Owned by a Third Party Uninterested in Moving to Open Access...</a></li>
                <li><a href="{{ 'is-your-journal-right-for-open-access#launching-a-journal' | absolute_url }}">Launching an Alternative Journal</a></li>
                <li><a href="{{ 'is-your-journal-right-for-open-access#society-owns' | absolute_url }}">If a Society or Nonprofit Owns the Journal and the Content...</a></li>
              </ul>
            </li> <!-- I'm for the submenu -->
            <li><a href="{{ 'publishing-partnership-models' | absolute_url }}">Publishing partnership models</a></li>
            <li><a href="{{ 'journal-revenue-options' | absolute_url }}">Journal Revenue Options</a></li>
            <li><a href="{{ 'next-steps' | absolute_url }}">Next Steps</a></li>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>We're here to help</h2>
          </header>
          <p>SPARC is well-positioned to help you interpret the information you have gleaned through this process. Our team has helped guide numerous journal editors understand their options, all free of charge. We can put you in touch with editors who have undertaken similar journeys. We can help you translate what may be a vague notion of getting from your current, suboptimal model to a concrete transition plan.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="/act-now">Contact SPARC</a></li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p>
            Created by <a href="https://sparcopen.org" target="_blank"><img src="{{site.baseurl}}/assets/images/tiny_sparc.png" alt="SPARC logo" style="height: .8em;"></a>. Content is licensed <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>. Design: <a href="https://html5up.net" target="_blank" >HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.
          </p>
        </footer>

    </div>
  </div>
